.navbar-container{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.navbar-logo-side{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.navbar-logo-img{
    padding: 0 10px;
}
.logo-img{
    height: 50px;
}
.logo-heading{
    font-size: 22px;
}
.navbar-menu{
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 15px;
    font-size: 15px;
    color: black;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 0 0 5px 0.2px black;
}
.navbar-menu:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}