.btn{
    border: none;
    padding: 8px 15px;
    border: 1px solid black;
    box-shadow: 0 0 5px 0.2px black;
    border-radius: 5px;
}
.btn:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}